* {
  box-sizing: border-box;
}
h3 {
  background-color: #226f54;
  color: #fd5549;
  text-shadow: 2px 2px black;
  padding: 2% 0;
  width: 200px;
  margin-right: 50px;
  border: 3px solid #474350;
  border-radius: 12px;
}

.App {
  text-align: center;
  font-family: staatliches;
  font-size: 1.4rem;
  background-color: #468c98;
  border-bottom: 2px solid #fd5549;
}

.class-card {
  background-color: white;
  color: black;
  width: 43%;
  margin: 2% auto;
  padding: 2%;
  border-radius: 12px;
  border: 3px solid #fd5549;
  box-shadow: 3px 3px black;
}

.class-card button {
  width: 200px;
  margin: 3% auto;
  padding: 2% 0;
  font-weight: bold;
  background-color: #fff;
  border-radius: 12px;
  border: none;
  text-transform: uppercase;
  color: rgb(13, 36, 78);
  cursor: pointer;
}

.class-card p {
  text-transform: uppercase;
}

.seperate {
  display: flex;
  align-items: center;
  margin: 1% auto;
  /* background-color: #474350; */
}

.classes-list {
  display: flex;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  background-color: #226f54;
  color: #fd5549;
  text-shadow: 2px 2px black;
  border: 3px solid #474350;
  transition: 0.4 ease-in-out;
  
}

.delete-button, .update-button {
  transition: 0.4s ease-in-out;
}

.delete-button:hover {
  background-color: rgb(207, 22, 22);
  transition: 0.4s ease-in-out;
  color:whitesmoke;
  text-shadow: 1.5px 1.5px black;
}

.update-button:hover {
  background-color:#fdffff;
  transition: 0.4s ease-in-out;
}



.regular-font {
  font-family: Arial, Helvetica, sans-serif;
}

.logInput {
  margin-left: 2%;
  border-radius: 20px;
  box-shadow: 2px 2px 1px #474350;
}

.user-radio-label {
  margin-right: 2%;
}

.instructor-radio-label {
  margin-left: 2%;
}

.user-label,
.pass-label {
  text-shadow: 1px 1px 1px whitesmoke;
}

.user-label::selection,
.pass-label::selection,
.sign-up-labels::selection {
  color: #fd5549;
  text-shadow: 1px 1px black;
}

.sign-up-errors {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 0.8rem;
  text-align: justify;
  color: black;
}
.password-error {
  max-width: 40%;
}
.sign-up-errors-parent {
  display: flex;
  max-width: 100%;
}

.class-list-head {
  color: #fd5549;
  text-shadow: 2px 2px 1px black;
}
.class-list-head::selection {
  color: #474350;
  text-shadow: 2px 2px #fd5549;
}

.search-bar,
.drop-down {
  border: 2px solid black;
  border-radius: 10px;
}

.search-bar{
  margin-right: 1%;
}

.drop-down{
  margin-left:1%;
}

.save-button {
  transition: 0.5s all ease-out;
}

.save-button:hover{
  transform: scale(1.1);
  background-color: whitesmoke;
  /* color: #474350; */
  /* text-shadow: 1px 1px black; */
}
